.Logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  padding: 0.5rem 2rem;
  div img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
  }

  .logOut {
    background-color: rgb(250, 195, 205);
    color: rgb(65, 60, 60);
    border: none;
    &:active {
      transform: scale(1.03);
    }
    &:hover {
      color: white;
      background-color: rgb(65, 60, 60);
    }
  }
}
